.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

## customized by lance 06242019
application/config/*
!application/config/autoload.php

application/config/*
!application/config/config.php

application/config/*
!application/config/database.php

application/config/*
!application/config/routes.php

application/helpers/*
application/hooks/*
application/language/*
application/libraries/*
application/third_party/*

application/assets/css/*
!application/assets/css/custom.css

application/assets/css/*
!application/assets/css/home.css

application/core/*
!application/core/References.php

application/core/*
!application/core/index.html

application/assets/img/*
application/assets/js/*
application/assets/video/*
application/assets/fonts/*

system/*
tests/*

.htaccess
.editorconfig
composer.json
contributing.md
error_log
index.php
license.txt
readme.rst



